.tituloH2 {
  text-align: center;
  margin: 2rem auto;
  color: #3561ee;
  border-bottom: 3px solid #3b6b81;
  width: 350px;
}
.contenedorImagenes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  width: 700px;
}

.contenedor-skill {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  flex-wrap: wrap;
}

.img-skills {
  width: 650px;
  height: 650px;
}
.text_context {
  margin-top: -65px;
  margin-left: -15px;
  font-size: 22px;
  color: #d0f0ff;
  text-shadow: 2px 2px #3561ee;
  font-weight: 500;
}
.skillGeneral {
  margin-bottom: 5rem;
}
@media screen and (max-width: 1400px) {
  .contenedorImagenes {
    width: 550px;
    margin-left: 1px;
  }
}
@media screen and (max-width: 750px) {
  .img-skills {
    width: 550px;
    height: 600px;
  }
}

@media screen and (max-width: 600px) {
  .img-skills {
    width: 350px;
    height: 400px;
  }
  .contenedorImagenes {
    width: 90%;
    margin: auto;
  }
  .contenedorImagenes img {
    width: 70px;
  }
  .text_context {
    margin-top: -48px;
    margin-left: -12px;
    font-size: 15px;
  }
}
