.contenedor-proyectos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5rem;
}
.card {
  width: 360px;
  height: 550px;
  background-color: rgb(39, 38, 44);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  color: aliceblue;
  overflow: hidden;
  margin-bottom: 5rem;
}
.card-img-top {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/0.8;
  object-fit: cover;
}
i {
  padding-right: 5px;
}
